
    <div class="send-container">
        <h1>Entrega del Producto</h1>
        <div class="delivery-options">
            <h2>Opciones de Entrega</h2>
            <div class="option">
                <input type="radio" id="pickup" name="delivery" value="pickup" checked>
                <label for="pickup">Punto de recogida <span class="price">9,49 €</span></label>
            </div>
            <div class="option">
                <input type="radio" id="home" name="delivery" value="home">
                <label for="home">Mi dirección <span class="price">11,49 €</span></label>
            </div>
            <div class="option">
                <input type="radio" id="in-person" name="delivery" value="in-person">
                <label for="in-person">En persona <span class="price">Gratuito</span></label>
                
            </div>
        </div>
        <a href="/productos/pagoProducto/<%= producto.id %>" class="continue-button">Continuar</a>
    </div>


    <div class="product-container">
        <h1>Detalles del Producto</h1>
        <img src="/imagenes/imagen/<%= producto.id %>/<%= imagen %>" alt="Imagen del Producto" class="product-image">
        <div class="product-details">
            <h2><%= producto.nombre %></h2>
            <p><strong>Descripción:</strong> <%= producto.descripcion %></p>
            <p><strong>Precio:</strong> <%= producto.precio %> €</p>
        </div>
        
    </div>
