
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del ProductA</title>    
</head>

    <div class="product-container">
        <h1>Detalles del Producto</h1>
        <img src="/imagenes/imagen/<%= producto.id %>/<%= producto.imagen %>" alt="Imagen del Producto" class="product-image">
        <div class="product-details">
            <h2><%= producto.nombre %></h2>
            <p><strong>Descripción:</strong> <%= producto.descripcion %></p>
            <p><strong>Precio:</strong> <%= producto.precio %> €</p>
            <% if (producto.id_user !== session.user_id) { %>  <!--Esto es para que si el producto es de un usuario no tenga la opcion de comprarlo -->
                <button onclick="location.href='/envios/resumenProducto/<%= producto.id %>'">Comprar</button>
            <% } %>
        </div>
        <div class="user-info">
            <h3>Información del Usuario</h3>
            <p><strong>Nombre:</strong> <%= producto.usuario_nombre %></p>
            <p><strong>Email:</strong> <%= producto.username %></p>
            <button onclick="location.href='/chats/nuevoChat/<%= producto.id %>?id_user_producto=<%= producto.id_user %>&id_user_sesion=<%= session.user_id %>'">Iniciar Chat</button>
        </div>
    </div>

