<div class="send-container">
    <h1 class="titulo-centrado">Compra del Producto</h1>
    <div class="add-address-links">
      <a class="nav-button envio-button" href="/envios/formEnvioProducto/<%= producto.id %>">Añadir dirección de envío</a>
      <a class="nav-button envio-button" href="/envios/formPuntoRecogida/<%= producto.id %>">Añadir punto de recogida</a>
      <a class="nav-button envio-button" href="/envios/formTarjeta/<%= producto.id %>">Añadir tarjeta de crédito</a>
    </div>
  
    <div class="address-container">
      <h3>Direcciones Guardadas</h3>
      <% if (direcciones && direcciones.length > 0) { %>
        <select id="direccion-guardada" name="direccion_guardada" onchange="actualizarDatosDireccion()">
          <% direcciones.forEach(direccion => { %>
            <option value="<%= direccion.id %>" 
                    data-nombre="<%= direccion.nombre %>" 
                    data-direccion="<%= direccion.direccion_entrega %>" 
                    data-codigo-postal="<%= direccion.codigo_postal %>" 
                    data-provincia="<%= direccion.provincia %>" 
                    data-telefono="<%= direccion.telefono %>" 
                    data-dni="<%= direccion.dni %>" 
                    data-tipo="<%= direccion.punto_recogida %>">
              <%= direccion.nombre %>, <%= direccion.direccion_entrega %>, <%= direccion.codigo_postal %>, 
              <%= direccion.provincia %>, Teléfono: <%= direccion.telefono %>, DNI: <%= direccion.dni %>, 
              Forma de entrega: <%= direccion.punto_recogida === 1 ? 'Punto de recogida' : 'Dirección particular' %>
            </option>
          <% }); %>
        </select>
      <% } else { %>
        <p>No tienes direcciones guardadas.</p>
      <% } %>
      <p>El precio de envío se calculará automáticamente según la dirección seleccionada.</p>
      </div>
  
    <div class="pay-summary">
      <h3>Tarjetas Guardadas</h3>
      <% if (tarjetas && tarjetas.length > 0) { %>
        <select id="tarjeta-guardada" name="tarjeta_guardada" onchange="actualizarCamposOcultos()">
          <% tarjetas.forEach(tarjeta => { %>
            <option value="<%= tarjeta.id %>">
              **** **** **** <%= tarjeta.numero_tarjeta.slice(-4) %> - <%= tarjeta.nombre_titular %>
            </option>
          <% }); %>
        </select>
      <% } else { %>
        <p>No tienes tarjetas guardadas.</p>
      <% } %>
    </div>
  
    <div class="total-summary">
      <h3>Resumen del Pedido</h3>
      <p><strong>Precio del Producto:</strong> <span id="product-price"><%= producto.precio %></span> €</p>
      <p><strong>Costo de Entrega:</strong> <span id="delivery-cost">0.00</span> €</p>
      <p><strong>Total:</strong> <span id="total-price"><%= producto.precio %></span> €</p>
    </div>
  

    <form action="/envios/confirmacionCompra/<%= producto.id %>" method="POST" id="resumen-form">
      <input type="hidden" name="direccionSeleccionada" id="direccion-seleccionada-input">
      <input type="hidden" name="tarjetaSeleccionada" id="tarjeta-seleccionada-input">
      <input type="hidden" name="costoEntrega" id="costo-entrega-input">
      <input type="hidden" name="total" id="total-input">
      <button type="button" class="continue-button" onclick="comprobar()">Confirmar compra</button>
    </form>
  </div>
  
  <div class="product-container">
    <h1>Detalles del Producto</h1>
    <img src="/imagenes/imagen/<%= producto.id %>/<%= imagen %>" alt="Imagen del Producto" class="product-image">
    <div class="product-details">
      <h2><%= producto.nombre %></h2>
      <p><strong>Descripción:</strong> <%= producto.descripcion %></p>
      <p><strong>Precio:</strong> <%= producto.precio %> €</p>
    </div>
  </div>
  
  <script src="/js/resumenProducto.js"></script>