<div id="mercado">
    <h2 class="titulo-centrado">Mis Ventas</h2>
    <div class="productos-container">
        <% if (productos && productos.length > 0) { %>
            <% productos.forEach(producto => { %>
                <div class="producto">
                    <% if (producto.imagen) { %>
                        <a href="/productos/producto/<%= producto.id %>">
                            <img src="/imagenes/imagen/<%= producto.id %>/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-image">
                        </a>
                    <% } else { %>
                        <p>No hay imágenes disponibles para este producto.</p>
                    <% } %>
                    <p>
                        Producto: <%= producto.nombre %></a> -
                        Precio: <%= producto.precio %>
                    </p>
                    <p>
                        Descripción:
                        <% if (!producto.descripcion) { %>
                            Este producto no tiene descripción -
                        <% } else { %>
                            <%= producto.descripcion %>
                        <% } %>
                    </p>
                  
                    <% if (producto.vendido) { %>
                        <div class="sold-product">
                            <p><strong>Producto vendido</strong></p>
                        </div>
                    <% } %>
                    <p>  
                        <a href="/productos/eliminarProducto/<%= producto.id %>" class = "button-link">Eliminar</a>
                    </p>
                </div>
            <% }) %>
        <% } else { %>
            <p>No tienes ventas registradas.</p>
        <% } %>
    </div>
</div>