<!DOCTYPE html>
<html lang="es">
<head>
  <%- include('./partials/head.ejs') %>
</head>

<body>
  <% var esPerfil = typeof esPerfil !== 'undefined' ? esPerfil : false; %>
 <div id="contenedor">
  <%- include('./partials/cabecera.ejs', { session: locals.session }) %>
  <% if (locals.session && esPerfil) { %>
    <%- include('./partials/sidebarIzqProfile.ejs') %>
  <% } else { %>
    <%- include('./partials/sidebarIzq.ejs') %>
  <% } %>

  <main>
    <article>
    <%- include(contenido) %>
    </article>
  </main>

  <%- include('./partials/sidebarDer.ejs', { session: locals.session }) %>
  <%- include('./partials/pie.ejs') %>
</div> <!-- Fin del contenedor -->

</body>
</html>