<h1>Mis Pujas Activas</h1>

<div class="puja-list">
    <% if (pujas.length > 0) { %>
        <% pujas.forEach(puja => { %>
            <div class="puja-item-container">
                <a href="/pujas/puja/<%= puja.id %>" class="puja-item">
                    <div class="puja-info">
                        <div class="product-info">
                            <img src="/imagenes/imagen/<%= puja.productId %>/<%= puja.imagen %>" alt="Imagen del Producto" class="product-image-circle">
                            <h3><%= puja.productName %></h3>
                        </div>
                        <p>Valor actual: <%= puja.valor_max %> €</p>
                        <p>Usuario: <%= puja.nombreUsuario %></p>
                    </div>
                </a>
                <a href="/pujas/eliminarPuja/<%= puja.id %>" class="delete-puja-link">Eliminar Puja</a>
            </div>
        <% }); %>
    <% } else { %>
        <p>No tienes pujas activas.</p>
    <% } %>
</div>
