<h1>Mis Productos en Subasta</h1>

<div class="puja-list">
  <% if (subastas.length > 0) { %>
    <% subastas.forEach(puja => { %>
      <div class="puja-item-container">
        <div class="puja-info">
          <div class="product-info">
            <img src="/imagenes/imagen/<%= puja.productId %>/<%= puja.imagen %>" alt="Imagen del Producto" class="product-image-circle">
            <h3><%= puja.productName %></h3>
            <p>Precio de salida: <%= puja.valor_max %> €</p>
            <p>Tiempo restante: <%= puja.tiempoRestante %> segundos</p>
          </div>
        </div>
        <a href="/pujas/puja/<%= puja.id %>" class="puja-item">Ver Detalles</a>
      </div>
    <% }); %>
  <% } else { %>
    <p>No tienes productos en subasta actualmente.</p>
  <% } %>
</div>
