<div class="puja-container">
    <div class="product-info">
        <img src="/imagenes/imagen/<%= productId %>/<%= imagenes %>" alt="Imagen del Producto" class="product-image-circle">
        <h3>Producto: <%= productName %></h3>
    </div>
    <h2>Puja de <%= usuario %></h2>
    <form action="/pujas/pujar/<%= puja.id %>" method="POST" class="pujada-form">
        <input type="hidden" name="id_puja" value="<%= puja.id %>">
        <input type="hidden" name="id_u" value="<%= session.user_id %>">
        <input type="number" name="valor" placeholder="Escribe tu puja aquí...">
        <button type="submit">Enviar</button>
    </form>
    
</div>
