<link rel="stylesheet" href="../../../static/css/puja.css">
<div class="puja-container">
    <div class="product-info">
        <img src="/imagenes/imagen/<%= productId %>/<%= imagenes %>" alt="Imagen del Producto" class="product-image-circle">
        <h3>Producto: <%= productName %></h3>
        <p>Tiempo restante: <span id="contador"><%= tiempoRestante %></span> segundos</p>
    </div>

    <!-- Formulario con ID para ocultar -->
    <form id="form-pujar" action="/pujas/pujar/<%= puja.id %>" method="POST" class="pujada-form">
        <input type="hidden" name="id_puja" value="<%= puja.id %>">
        <input type="hidden" name="id_u" value="<%= session.user_id %>">
        <input type="number" name="valor" placeholder="Escribe tu puja aquí..." min="1" required>
        <button type="submit">Enviar</button>
    </form>
    <p id="mensaje-finalizado" style="display:none; color: red; font-weight: bold;">
        ¡La puja ha terminado!
    </p>
    <script>
        const span = document.getElementById('contador');
        const form = document.getElementById('form-puja');
        const mensaje = document.getElementById('mensaje-finalizado');
      
        let tiempo = parseInt(span.innerText);
      
        const intervalo = setInterval(() => {
          tiempo--;
          span.innerText = tiempo;
      
          if (tiempo <= 0) {
            clearInterval(intervalo);
            form.style.display = 'none';
            mensaje.style.display = 'block';
          }
        }, 1000);
      </script>
</div>
