
<div id="mercado">
    <h2>Productos</h2>
    <div class="productos-container">
        <% if (productos.length > 0) { %>
            <% productos.forEach(producto => { %>
                <div class="producto">
                    <% if (producto.imagen) { %>
                        <a href="/productos/producto/<%= producto.id %>">
                            <img src="/imagenes/imagen/<%= producto.id %>/<%= producto.imagen %>" alt="<%= producto.nombre %>" class="product-image">
                        </a>
                    <% } else { %>
                        <p>No hay imágenes disponibles para este producto.</p>
                    <% } %>
                    <p>
                        Producto: <a href="/productos/producto/<%= producto.id %>"><%= producto.nombre %></a> -
                        Precio: <%= producto.precio %>
                    </p>
                    <p>
                        Descripción:
                        <% if (!producto.descripcion) { %>
                            Este producto no tiene descripción -
                        <% } else { %>
                            <%= producto.descripcion %>
                        <% } %>
                    </p>
                </div>
            <% }) %>
        <% } else { %>
            <p>No hay productos disponibles.</p>
        <% } %>
    </div>
</div>